.vacancies {
  display: block;
  border: 1px solid rgba(1, 138, 166, .34);

  @include rule(margin, (xl: 0 -100px, sm: 0));
  @include rule(padding, (xl: 83px 100px 82px, sm: 30px));

  $b: &;

  &__title {
    @include rule(font-size, (xl: 41px, sm: 28px));

    font-weight: 300;
    line-height: 1.2;
  }

  &__text {
    @include rule(font-size, (xl: 22px, sm: 14px));

    line-height: (43/22);

    a {
      color: $color-blue;

      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 38px, sm: 20px));
    }
  }

  &__button {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 80px, sm: 30px));
    }
  }
}
