mixin vacancies()
  +b.vacancies&attributes(attributes)
    +e.H2.title Вакансии
    +e.text
      p Для реализации проекта газотурбостроения требуются инженеры, конструкторы, технологи и другие специалисты.
      p Актуальные вакансии размещены на сайте «Силовых машин» в разделе <a href="#">Карьера/Вакансии</a>.
    +button()(href="#").__button Направить резюме

mixin ui-kit-vacancices()
  +ui-section
    +ui-section-head
      +ui-title Вакансии
      +ui-path
        p Компонент: components/vacancices/vacancices

    +ui-section-content()
      +vacancies

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
