.header {
  position: fixed;

  @include rule(padding, (xl: 30px 0, sm: 20px 0));

  display: block;
  left: 0;
  top: 0;
  right: 0;
  z-index: 50;
  transition: background $ease-main, box-shadow $ease-main, padding $ease-main, color $ease-main;
  color: white;

  $b: &;

  &.is-fixed {
    color: $color-basic;
    padding: 0;
    background: white;
    box-shadow: 0 9px 10px rgba(black, .03);

    &.has-burger-opened {
      padding: 20px 0;
    }
  }

  &.has-burger-opened {
    background: white;
    color: $color-basic;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 0;
    transition: opacity $ease-main, width $ease-main;

    @include rule(width, (xl: 90px, sm: 60px));

    #{$b}.is-fixed & {
      @include rule(width, (xl: 70px, sm: 40px));
    }

    #{$b}.has-burger-opened & {
      width: 60px;
    }

    &:hover {
      opacity: .5;
    }

    img {
      width: 100%;
    }
  }

  &__menu {
    @include rule(display, (xl: flex, sm: none));

    align-items: center;

    @include screen('sm', min) {
      display: flex !important;
    }

    @include screen('sm') {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: white;
      top: 100px;
      box-sizing: border-box;
      padding: 10px 20px 20px;
      overflow: auto;
      opacity: 0;
      transition: opacity $ease-main;

      &.is-active {
        opacity: 1;
      }
    }
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    transition: opacity $ease-main;

    @include rule(display, (sm: block));

    &:hover {
      opacity: .5;
    }

    &:not(:first-child) {
      @include rule(margin-left, (xl: 72px, md: 48px, sm: 0));
      @include rule(margin-top, (sm: 20px));
    }
  }

  &__burger {
    @include rule(display, (xl: none, sm: flex));

    width: 20px;
    height: 14px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform $ease-main;

    &::before, &::after {
      content: '';
    }

    span, &::before, &::after {
      background: white;
      height: 2px;
      width: 100%;
      border-radius: 50px;
      transition: transform $ease-main, opacity $ease-main, background $ease-main;
      transform-origin: center;
    }

    #{$b}.is-fixed &, #{$b}.has-burger-opened & {
      span, &::before, &::after {
        background: $color-basic;
      }
    }

    #{$b}.has-burger-opened & {
      transform: translate3d(6px, 0, 0);
      &::before {
        transform: rotate(45deg) translate3d(0, 9px, 0);
      }

      &::after {
        transform: rotate(-45deg) translate3d(0, -9px, 0);
      }

      span {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
      }
    }
  }
}
