.header {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 50;
  padding: 30px 0;
  transition: background $ease-main, box-shadow $ease-main, padding $ease-main, color $ease-main;
  color: white;

  $b: &;

  &.is-fixed {
    color: $color-basic;
    padding: 0;
    background: white;
    box-shadow: 0 9px 10px rgba(black, .03);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 0;
    width: 90px;
    transition: opacity $ease-main, width $ease-main;

    #{$b}.is-fixed & {
      width: 70px;
    }

    &:hover {
      opacity: .5;
    }

    img {
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }

    &:not(:first-child) {
      margin-left: 72px;
    }
  }
}
