@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: $container-width;

  @include rule(padding-left, (xl: $container-padding, sm: 20px));
  @include rule(padding-right, (xl: $container-padding, sm: 20px));

  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;
}

.js-sr {
  visibility: hidden;
}
