.offer {
  display: block;
  background-color: #333;
  background-image: url('../images/offer.jpg');
  background-size: cover;
  color: white;

  @include rule(padding, (xl: 303px 0 158px, sm: 150px 0 30px));

  $b: &;

  &__title {
    max-width: 960px;
    font-weight: 900;
    line-height: (64/50);

    @include rule(font-size, (xl: 50px, sm: 28px));
  }
}
