.offer {
  display: block;
  background-color: #333;
  background-image: url('../images/offer.jpg');
  background-size: cover;
  padding: 303px 0 158px;
  color: white;

  $b: &;

  &__title {
    max-width: 960px;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
  }
}
