mixin footer()
  +b.footer&attributes(attributes)
    .container
      +e.top
        +e.menu
          each item in getData('footer').menu
            +e.A.link(href=item.link)!= item.text

      +e.bottom
        +socials.__socials
        +e.A.logo(href="#")
          img(src="assets/images/logo.svg")
        +scroll-top.footer__button

      +e.copyright
        p © 2020, Публичное акционерное общество
        p «Силовые машины – ЗТЛ, ЛМЗ, Электросила, Энергомашэкспорт» (ПАО «Силовые машины»)

mixin ui-kit-footer()
  +ui-section
    +ui-section-head
      +ui-title Подвал
      +ui-path
        p Компонент: components/footer/footer

    +ui-section-content(true)
      +footer

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
