.footer {
  display: block;

  @include rule(margin-top, (xl: 100px, sm: 40px));
  @include rule(padding, (xl: 0 0 30px, sm: 0 0 20px));

  $b: &;

  &__top, &__bottom {
    @include rule(margin-left, (xl: -100px, lg: 0));
    @include rule(margin-right, (xl: -100px, lg: 0));
  }

  &__top {
    border-width: 1px 0;
    border-style: solid;
    border-top-color: $color-gray-5;
    border-bottom-color: $color-basic;
    padding: 30px 0;
  }

  &__menu {
    display: flex;

    @include rule(justify-content, (xl: center, sm: flex-start));
    @include rule(flex-wrap, (sm: wrap));
    @include rule(margin-top, (sm: -20px));
  }

  &__link {
    line-height: 19px;
    transition: color $ease-main;
    box-sizing: border-box;

    @include rule(font-size, (xl: 16px, sm: 14px));
    @include rule(margin-top, (sm: 20px));
    @include rule(width, (sm: 50%));
    @include rule(padding-right, (sm: 20px));

    &:hover {
      color: $color-main;
    }

    &:not(:first-child) {
      @include rule(margin-left, (xl: 90px, md: 60px, sm: 0));
    }
  }

  &__bottom {
    @include rule(margin-top, (xl: 49px, sm: 30px));
    @include rule(height, (xl: 90px, sm: auto));
    @include rule(flex-direction, (sm: column));

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    font-size: 0;
    width: 90px;
    height: 90px;
    transition: opacity $ease-main;

    @include rule(margin-top, (sm: 30px));

    @include screen('sm', min) {
      @include center-image;
    }

    &:hover {
      opacity: .5;
    }

    img {
      width: 100%;
    }
  }

  &__button {
    @include rule(margin-right, (xl: 72px, lg: 0));
    @include rule(display, (sm: none !important));
  }

  &__copyright {
    color: $color-gray-3;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    @include rule(margin-top, (xl: 33px, sm: 30px));
  }
}
