.contacts {
  @include rule(display, (xl: flex, sm: block));
  @include rule(margin, (xl: 0 -100px, sm: 0 -20px));

  background: $color-blue;

  $b: &;

  &__left {
    background: $color-grey-3;
    flex: 1;

    @include rule(padding, (xl: 80px 100px 105px, sm: 30px 20px));
  }

  &__right {
    box-sizing: border-box;
    width: 583px;
    flex-shrink: 0;
    color: white;

    @include rule(padding, (xl: 184px 140px 105px, sm: 30px 20px));
  }

  &__title {
    @include rule(font-size, (xl: 41px, sm: 28px));
    @include rule(margin-bottom, (xl: 55px, sm: 30px));

    font-weight: 300;
    line-height: 1.2;
  }

  &__group {

    & + & {
      margin-top: 70px;
    }
  }

  &__subtitle {
    font-weight: bold;

    @include rule(font-size, (xl: 22px, sm: 16px));
    @include rule(line-height, (xl: 1.2, sm: 1.7));
  }

  &__contacts {
    @include rule(font-size, (xl: 18px, sm: 14px));
    @include rule(line-height, (xl: 1.2, sm: 1.6));

    a {
      color: $color-blue;

      &:hover {
        text-decoration: underline;
      }
    }

    #{$b}__right & {

      a {
        color: white;
      }
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 52px, sm: 20px));
    }

    p {

      &:not(:first-child) {
        @include rule(margin-top, (xl: 26px, sm: 20px));
      }
    }
  }
}
