.contacts {
  display: flex;
  background: $color-blue;
  margin: 0 -100px;

  $b: &;

  &__left {
    background: $color-grey-3;
    padding: 80px 100px 105px;
  }

  &__right {
    box-sizing: border-box;
    width: 583px;
    flex-shrink: 0;
    padding: 184px 140px 105px;
    color: white;
  }

  &__title {
    font-weight: 300;
    font-size: 41px;
    line-height: 1.2;
    margin-bottom: 55px;
  }

  &__group {

    & + & {
      margin-top: 70px;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
  }

  &__contacts {
    font-size: 18px;
    line-height: 1.2;

    a {
      color: $color-blue;

      &:hover {
        text-decoration: underline;
      }
    }

    #{$b}__right & {

      a {
        color: white;
      }
    }

    &:not(:first-child) {
      margin-top: 52px;
    }

    p {

      &:not(:first-child) {
        margin-top: 26px;
      }
    }
  }
}
