.socials {
  display: flex;
  align-items: center;

  $b: &;

  &__link {
    @include rule(width, (xl: 56px, sm: 44px));
    @include rule(height, (xl: 56px, sm: 44px));

    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid $color-gray-6;
    position: relative;
    fill: $color-basic;
    transition: fill $ease-main, transform $ease-main;

    &:hover {
      fill: $color-main;
      transform: translate3d(0, -12px, 0);
    }

    &:not(:first-child) {
      @include rule(margin-left, (xl: 24px, sm: 20px));
    }

    svg {
      width: 16px;
      height: 12px;

      @include center-image;
    }
  }
}
