mixin socials()
  +b.socials&attributes(attributes)
    each item in getData('socials')
      +e.A.link(href=item.link)
        +icon(item.icon)

mixin ui-kit-socials()
  +ui-section
    +ui-section-head
      +ui-title Соцсети
      +ui-path
        p Компонент: components/socials/socials

    +ui-section-content()
      +socials

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
