.button {
  display: inline-block;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: $color-blue;
  transition: background-color $ease-main;
  cursor: pointer;
  font-weight: bold;
  color: white;
  appearance: none;
  border-radius: 0;

  @include rule(font-size, (xl: 16px, sm: 14px));
  @include rule(line-height, (xl: 64px, sm: 50px));
  @include rule(height, (xl: 64px, sm: 50px));
  @include rule(padding, (xl: 0 68px, sm: 0 30px));

  $b: &;

  &:hover {
    background-color: $color-main-dark;
  }
}

