.button {
  display: inline-block;
  padding: 0 68px;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: $color-blue;
  transition: background-color $ease-main;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 64px;
  height: 64px;
  color: white;
  appearance: none;
  border-radius: 0;

  $b: &;

  &:hover {
    background-color: $color-main-dark;
  }
}

