@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox-close-small:focus::after {
  outline: none;
}

.fancybox-enabled {
  overflow: initial;
}

.fancybox-slide--html, .fancybox-slide {
  padding: 67px 220px;
}

.popup {
  padding: 120px 0;
  width: 100%;
  min-height: 100%;

  .container {
    max-width: 902px;
  }
}

.fancybox-is-open .fancybox-bg {
  opacity: 1;
}

.fancybox-bg {
  background: white;
}

.fancybox-toolbar {
  top: 70px;
  right: 86px;
}

.fancybox-button {
  background: transparent;
  border: 1px solid $color-gray-5;
  border-radius: 0;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  position: relative;
  fill: $color-basic;
  stroke: $color-basic;
  transition: fill $ease-main, stroke $ease-main, border $ease-main, background-color $ease-main;

  &--zoom {
    display: none !important;
  }

  .fancybox_style_dark & {
    border-color: $color-dark-2;
    fill: white;
    stroke: white;
  }

  &:hover {
    fill: white;
    stroke: white;
    border-color: $color-main;
    background-color: $color-main;
  }

  svg {
    width: 12px;
    height: 12px;

    @include center-image;

    path {
      stroke-width: 1;
      fill: inherit;
    }
  }
}

.fancybox_style_content {

  .fancybox-slide--html {
    padding: 0;
  }
}

.fancybox_style_dark {

  .fancybox-bg {
    background: $color-dark-1;
  }
}
