@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox-close-small:focus::after {
  outline: none;
}

.fancybox-enabled {
  overflow: initial;
}

.fancybox-slide--html, .fancybox-slide {
  @include rule(padding, (xl: 67px 220px, md: 190px 70px, sm: 90px 0));
}

.popup {
  @include rule(padding, (xl: 120px 0, sm: 90px 0 30px));

  width: 100%;
  min-height: 100%;

  .container {
    width: 902px;
  }
}

.fancybox-is-open .fancybox-bg {
  opacity: 1;
}

.fancybox-bg {
  background: white;
}

.fancybox-toolbar {
  @include rule(top, (xl: 70px, sm: 20px));
  @include rule(right, (xl: 86px, sm: 20px));

  .fancybox-is-open & {
    opacity: 1;
    visibility: visible;
  }
}

.fancybox-button {
  background: transparent;
  border: 1px solid $color-gray-5;
  border-radius: 0;

  @include rule(width, (xl: 70px, sm: 50px));
  @include rule(height, (xl: 70px, sm: 50px));

  box-sizing: border-box;
  position: relative;
  fill: $color-basic;
  stroke: $color-basic;
  transition: fill $ease-main, stroke $ease-main, border $ease-main, background-color $ease-main;

  &--zoom {
    display: none !important;
  }

  .fancybox_style_dark & {
    border-color: $color-dark-2;
    fill: white;
    stroke: white;
  }

  &:hover {
    fill: white;
    stroke: white;
    border-color: $color-main;
    background-color: $color-main;
  }

  svg {
    width: 12px;
    height: 12px;

    @include center-image;

    path {
      stroke-width: 1;
      fill: inherit;
    }
  }
}

.fancybox_style_content {

  .fancybox-slide--html {
    padding: 0;
  }
}

.fancybox_style_dark {

  .fancybox-bg {
    background: $color-dark-1;
  }
}
