.object {
  display: block;
  color: white;

  $b: &;

  &__title {
    font-weight: 300;
    line-height: (48/35);

    @include rule(font-size, (xl: 35px, sm: 28px));
  }

  &__tabs {
    @include rule(max-width, (xl: 745px, sm: none));

    &:not(:first-child) {
      @include rule(margin-top, (xl: 40px, sm: 30px));
    }
  }

  &__content {
    display: flex;

    @include rule(flex-direction, (sm: column));

    .content-zone {
      @include rule(max-width, (xl: 700px, sm: none));
    }
  }

  &__left {
    flex: 1;
  }

  &__right {
    position: relative;
    flex-shrink: 0;

    @include rule(margin-top, (sm: 40px));
    @include rule(margin-left, (xl: 40px, sm: 0));
    @include rule(width, (xl: 495px, sm: 100%));
  }

  &__image {
    @include screen('sm') {
      text-align: center;
      font-size: 0;
    }

    img {
      @include rule(max-width, (sm: 100%));
    }

    &_1 {
      @include rule(margin-top, (xl: -75px, sm: 0));
    }

    &_2 {
      @include rule(margin-top, (xl: -165px, sm: 0));
      @include rule(margin-left, (xl: 55px, sm: 0));

      & + #{$b}__small-image {
        margin-top: -50px;
      }
    }
  }

  &__small-image {
    @include rule(margin-top, (xl: 30px, sm: -50px));

    margin-left: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: block;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }

    img {
      @include fill-img;
    }
  }

  &__table-caption {
    @include rule(margin-top, (xl: 40px, sm: 30px));
    @include rule(line-height, (xl: 1.4, sm: 1.8));

    font-size: 11px;
  }
}
