.tabs {
  display: flex;
  font-size: 0;
  border-bottom: 1px solid rgba(130, 130, 130, .69);

  @include screen('sm') {
    white-space: nowrap;
    overflow: auto;
    padding: 0 20px;
    margin-left: -20px;
    margin-right: -20px;

    &::after {
      content: '';
      width: 20px;
      height: 1px;
      flex-shrink: 0;
    }
  }

  &__tab {
    border-bottom: 2px solid transparent;
    transition: border-color $ease-main;
    cursor: pointer;
    @include rule(font-size, (xl: 15px, sm: 14px));
    @include rule(line-height, (xl: 28px, sm: 20px));
    @include rule(padding, (xl: 0 0 18px, sm: 0 0 16px));

    @include rule(margin-bottom, (xl: -2px, sm: 0));

    &:not(:first-child) {
      @include rule(margin-left, (xl: 73px, sm: 30px));
    }

    &.is-active {
      border-color: $color-main;
      font-weight: 500;
    }
  }

  & + &-content {
    @include rule(margin-top, (xl: 75px, sm: 30px));
  }

  &-content {

    &__wrapper {
      display: none;
      opacity: 0;
      transition: opacity $ease-main, transform $ease-main;
      transform: translate3d(0, 10px, 0);

      &.is-active {
        display: block;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
