.two-columns {
  display: flex;

  $b: &;

  &:not(:first-child) {
    margin-top: 40px;
  }

  &__left {
    flex: 1;
  }

  &__right {
    margin-left: 67px;
    width: 370px;

    #{$b}_equal & {
      margin-left: 79px;
      width: auto;
      flex: 1;
    }
  }
}
