.two-columns {
  @include rule(display, (xl: flex, sm: block));

  $b: &;

  &:not(:first-child) {
    @include rule(margin-top, (xl: 60px, sm: 30px));
  }

  &__left {
    flex: 1;
  }

  &__right {
    @include rule(margin-left, (xl: 67px, sm: 0));
    @include rule(width, (xl: 370px, sm: auto));
    @include rule(padding-top, (xl: 39px, sm: 0));
    @include rule(margin-top, (sm: 40px));

    #{$b}_equal & {
      @include rule(margin-left, (xl: 79px, sm: 0));

      width: auto;
      flex: 1;
      padding-top: 0;
    }
  }
}
