.content-zone {
  font-size: 17px;
  line-height: (34/17);

  $b: &;

  h1, h2, h3, h4, h5, h6 {

    &:not(:first-child) {
      margin-top: 38px;
    }

    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-size: 25px;
    line-height: (35/25);
  }

  p {

    &:not(:first-child) {
      margin-top: 34px;
    }
  }

  strong {
    color: black;
    font-weight: inherit;
  }

  b {
    font-weight: 500;
  }

  a {
    color: $color-blue;
    position: relative;
    padding-right: 16px;

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 10px;
      top: 2px;
      bottom: 0;
      margin: auto;
      right: 0;
      background: url('../images/arrow_right.svg');
      background-size: 100% 100%;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    border-width: 1px 0;
    border-style: solid;
    border-color: $color-gray-5;
    padding: 48px 0;
    text-align: center;
    display: block;
    font-size: 19px;
    line-height: (33/19);
    font-weight: 900;

    &:not(:first-child) {
      margin-top: 40px;
    }

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  img {
    width: 327px;
    float: left;
    margin: 0 31px 22px 0;

    & + p {
      margin-top: 0 !important;
    }
  }

  > ul, > ol {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul, ol {

    &:not(:first-child) {
      margin-top: 48px;
    }

    &:not(:last-child) {
      margin-bottom: 48px;
    }

    li {
      padding-left: 30px;
      position: relative;

      &:not(:first-child) {
        margin-top: 38px;
      }
    }
  }

  ul {

    li {

      &::before {
        position: absolute;
        left: 0;
        top: 16px;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $color-main;
      }
    }
  }

  ol {
    counter-reset: list1;

    li {

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        counter-increment: list1;
        content: counter(list1) '.';
      }
    }
  }

  figure {
    margin: 0;
    display: block;
    text-align: center;

    img {
      float: none;
      display: block;
      margin: 0 auto;
      width: auto;
      max-width: 100%;
    }

    figcaption {
      display: block;
      margin-top: 30px;
      font-weight: 300;
      font-size: 14px;
      line-height: 30px;
      color: black;
    }

    &:not(:first-child) {
      margin-top: 70px;
    }

    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  // Modificators

  &_history {

    h2 {
      font-weight: 300;
      font-size: 41px;
      line-height: 1.2;
    }

    strong {
      font-size: 20px;
      color: $color-basic;
      font-weight: 400;
    }

    h3 {
      font-size: 24px;
      line-height: (34/24);
      font-weight: 400;

      &:not(:first-child) {
        margin-top: 65px;
      }

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  &_object {

    h3 {
      font-size: 22px;
      line-height: 36px;
      font-weight: 400;

      &:not(:first-child) {
        margin-top: 40px;
      }

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  &_dark {
    color: rgba(white, .8);

    h1, h2, h3, h4, h5, h6, ul {
      color: white;
    }

    ul, ol {

      li {
        padding-left: 40px;
      }
    }

    ul {

      li {

        &::before {
          width: 4px;
          height: 3px;
          border-radius: 0;
        }
      }
    }
  }
}
