.content-zone {
  font-size: 17px;
  line-height: (34/17);

  $b: &;

  h1, h2, h3, h4, h5, h6 {

    &:not(:first-child) {
      margin-top: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 30px;
    line-height: 1.5;
  }

  p {
    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  a {
    color: $color-main;
    position: relative;
    padding-right: 16px;

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 10px;
      top: 2px;
      bottom: 0;
      margin: auto;
      right: 0;
      background: url('../images/arrow_right.svg');
      background-size: 100% 100%;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    border-width: 1px 0;
    border-style: solid;
    border-color: $color-gray-5;
    padding: 48px 0;
    text-align: center;
    display: block;
    font-size: 19px;
    line-height: (33/19);
    font-weight: 900;

    &:not(:first-child) {
      margin-top: 40px;
    }

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  img {
    width: 327px;
    float: left;
    margin: 10px 31px 31px 0;

    & + p {
      margin-top: -5px;
    }
  }

  > ul, > ol {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul, ol {
    font-size: 14px;
    line-height: 1.5;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    li {
      padding-left: 20px;
      position: relative;
    }
  }

  ul {

    li {

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: '•';
      }
    }
  }

  ol {
    counter-reset: list1;

    li {

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        counter-increment: list1;
        content: counter(list1) '.';
      }
    }
  }
}
