.content-zone {
  @include rule(font-size, (xl: 17px, sm: 14px));

  line-height: (34/17);

  $b: &;

  h1, h2, h3, h4, h5, h6 {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 38px, sm: 40px));
    }

    &:not(:last-child) {
      @include rule(margin-bottom, (xl: 38px, sm: 30px));
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @include rule(font-size, (xl: 25px, sm: 21px));

    font-weight: 300;
    line-height: (35/25);
  }

  p {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 34px, sm: 20px));
    }
  }

  strong {
    color: black;
    font-weight: inherit;
  }

  b {
    font-weight: 500;
  }

  a {
    color: $color-blue;
    position: relative;
    padding-right: 16px;

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 10px;
      top: 2px;
      bottom: 0;
      margin: auto;
      right: 0;
      background: url('../images/arrow_right.svg');
      background-size: 100% 100%;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    border-width: 1px 0;
    border-style: solid;
    border-color: $color-gray-5;
    text-align: center;
    display: block;
    line-height: (33/19);
    font-weight: 900;

    @include rule(font-size, (xl: 19px, sm: 16px));
    @include rule(padding, (xl: 48px 0, sm: 20px 0));

    &:not(:first-child) {
      @include rule(margin-top, (xl: 40px, sm: 30px));
    }

    &:not(:last-child) {
      @include rule(margin-bottom, (xl: 48px, sm: 30px));
    }
  }

  img {
    @include rule(width, (xl: 327px, sm: auto));
    @include rule(max-width, (sm: 100%));
    @include rule(float, (xl: left, sm: none));
    @include rule(margin, (xl: 0 31px 22px 0, sm: 0));
    @include rule(display, (sm: block));

    &:not(:first-child) {
      @include rule(margin-top, (sm: 30px));
    }

    &:not(:last-child) {
      @include rule(margin-bottom, (sm: 30px));
    }

    & + p {
      @include screen('sm', min) {
        margin-top: 0 !important;
      }
    }
  }

  > ul, > ol {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul, ol {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 48px, sm: 30px));
    }

    &:not(:last-child) {
      @include rule(margin-bottom, (xl: 48px, sm: 30px));
    }

    li {
      @include rule(padding-left, (xl: 30px, sm: 20px));

      position: relative;

      &:not(:first-child) {
        @include rule(margin-top, (xl: 38px, sm: 20px));
      }
    }
  }

  ul {

    li {

      &::before {
        @include rule(top, (xl: 16px, sm: 11px));

        position: absolute;
        left: 0;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $color-main;
      }
    }
  }

  ol {
    counter-reset: list1;

    li {

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        counter-increment: list1;
        content: counter(list1) '.';
      }
    }
  }

  figure {
    margin: 0;
    display: block;
    text-align: center;

    img {
      float: none;
      display: block;
      margin: 0 auto !important;
      width: auto;
      max-width: 100%;
    }

    figcaption {
      display: block;
      font-weight: 300;
      font-size: 14px;
      color: black;
      line-height: 2;

      @include rule(margin-top, (xl: 30px, sm: 20px));
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 70px, sm: 30px));
    }

    &:not(:last-child) {
      @include rule(margin-bottom, (xl: 70px, sm: 30px));
    }
  }

  // Modificators

  &_history {

    h2 {
      font-weight: 300;
      line-height: 1.2;

      @include rule(font-size, (xl: 41px, sm: 30px));
    }

    strong {
      @include rule(font-size, (xl: 20px, sm: 16px));

      color: $color-basic;
      font-weight: 400;
    }

    h3 {
      @include rule(font-size, (xl: 24px, sm: 20px));

      line-height: (34/24);
      font-weight: 400;

      &:not(:first-child) {
        @include rule(margin-top, (xl: 65px, sm: 40px));
      }

      &:not(:last-child) {
        @include rule(margin-bottom, (xl: 40px, sm: 30px));
      }
    }
  }

  &_object {

    h3 {
      @include rule(font-size, (xl: 22px, sm: 20px));

      line-height: (36/22);
      font-weight: 400;

      &:not(:first-child) {
        margin-top: 40px;
      }

      &:not(:last-child) {
        @include rule(margin-bottom, (xl: 40px, sm: 30px));
      }
    }
  }

  &_dark {
    color: rgba(white, .8);

    h1, h2, h3, h4, h5, h6, ul {
      color: white;
    }

    ul, ol {

      li {
        @include rule(padding-left, (xl: 40px, sm: 20px));
      }
    }

    ul {

      li {

        &::before {
          width: 4px;
          height: 3px;
          border-radius: 0;
        }
      }
    }
  }
}
