mixin team()
  +b.team&attributes(attributes)
    +grid
      each item in getData('team')
        +col({xl: 3, md: 4, sm: 12})
          +e.item
            +e.photo-wrapper
              +e.photo
                img(src=item.photo)
            +e.content
              +e.P.name!= item.name
              +e.text
                each text in item.text
                  p!= text

mixin ui-kit-team()
  +ui-section
    +ui-section-head
      +ui-title Команда
      +ui-path
        p Компонент: components/team/team

    +ui-section-content()
      +team

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
