.team {
  display: block;

  $b: &;

  &__item {
    width: 100%;
  }

  &__photo-wrapper {
    max-width: 267px;
  }

  &__photo {
    position: relative;
    overflow: hidden;
    padding-bottom: 131%;
    height: 0;

    img {
      @include fill-img;
    }
  }

  &__content {

    &:not(:first-child) {
      margin-top: 23px;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
  }

  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: (28/15);
    color: $color-gray-3;

    &:not(:first-child) {
      margin-top: 14px;
    }

    p {

      &:not(:first-child) {
        margin-top: 6px;
      }
    }
  }
}
