.team {
  display: block;

  $b: &;

  &__item {
    width: 100%;
  }

  &__photo-wrapper {
    @include rule(max-width, (xl: 267px, sm: 150px));
  }

  &__photo {
    position: relative;
    overflow: hidden;
    padding-bottom: 131%;
    height: 0;

    img {
      @include fill-img;
    }
  }

  &__content {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 23px, sm: 20px));
    }
  }

  &__name {
    font-weight: 500;
    font-size: 15px;

    @include rule(line-height, (xl: 2, sm: 1.5));
  }

  &__text {
    font-weight: 300;

    @include rule(font-size, (xl: 15px, sm: 14px));
    @include rule(line-height, (xl: (28/15), sm: (20/14)));
    color: $color-gray-3;


    &:not(:first-child) {
      @include rule(margin-top, (xl: 14px, sm: 10px));
    }

    a {
      color: $color-blue;

      &:hover {
        text-decoration: underline;
      }
    }

    p {

      &:not(:first-child) {
        margin-top: 6px;
      }
    }
  }
}
