@import '../../node_modules/swiper/dist/css/swiper.css';

.slider {
  position: relative;
  overflow: visible;

  &:not(:first-child) {
    @include rule(margin-top, (xl: 80px, sm: 40px));
  }

  &__slide {
    @include rule(width, (xl: 624px !important, sm: 100% !important));

    text-align: center;
    transition: opacity $ease-main;
    opacity: .4;

    &.swiper-slide-active {
      opacity: 1;
    }
  }

  &__image {
    width: 100%;
    height: 0;
    padding-bottom: 57%;
    overflow: hidden;
    position: relative;

    img {
      @include fill-img;
    }
  }

  &__navigation {
    position: absolute;
    top: 145px;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-between;
    box-sizing: border-box;
    pointer-events: none;
    height: 65px;

    @include rule(display, (xl: flex, sm: none));
  }

  &__button {
    width: 65px;
    height: 65px;
    transition: background-color $ease-main, fill $ease-main;
    cursor: pointer;
    background-color: white;
    fill: $color-basic;
    position: relative;
    z-index: 1;
    pointer-events: all;

    svg {
      @include center-image;

      width: 6px;
      height: 10px;
    }

    &:hover {
      background-color: $color-basic;
      fill: white;
    }

    &_prev {

      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__caption {
    font-weight: 300;
    font-size: 14px;
    color: black;
    transition: opacity $ease-main;
    opacity: 0;

    @include rule(margin-top, (xl: 22px, lg: 20px));
    @include rule(line-height, (xl: 30px, lg: 24px));

    .swiper-slide-active & {
      opacity: 1;
    }
  }
}
