mixin slider()
  +b.slider&attributes(attributes).swiper-container.js-slider
    .swiper-wrapper
      each item in getData('slider')
        +e.slide.swiper-slide
          +e.image
            img(src=item.image)
          +e.P.caption!= item.text

    +e.navigation
      +e.button._prev
        +icon('arrow')

      +e.button._next
        +icon('arrow')

mixin slide()
  +e.slide&attributes(attributes).swiper-slide
    block

mixin ui-kit-slider
  +ui-section
    +ui-section-head
      +ui-title Слайдер
      +ui-path
        p Блок: blocks/slider/slider
      +ui-description
        p
          a(href="https://idangero.us/swiper/api/" target="_blank") Документация

    +ui-section-content()
      +slider

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
