.scroll-top {
  display: block;
  fill: $color-basic;
  width: 65px;
  height: 65px;
  box-sizing: border-box;
  border: 1px solid $color-gray-5;
  flex-shrink: 0;
  transition: border-color $ease-main, fill $ease-main;
  position: relative;

  $b: &;

  &:hover {
    border-color: $color-main;
    fill: $color-main;
  }

  svg {
    width: 6px;
    height: 10px;
    transform: rotate(-90deg);

    @include center-image;
  }
}
