mixin scroll-top()
  +b.scroll-top.js-anchor(href="#offer")&attributes(attributes)
    +icon('arrow')

mixin ui-kit-scroll-top()
  +ui-section
    +ui-section-head
      +ui-title Скролл вверх
      +ui-path
        p Компонент: components/scroll-top/scroll-top

    +ui-section-content()
      +scroll-top

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
