.section {
  display: block;

  &:not(:first-child) {
    margin-top: 81px;
  }

  &_dark {
    background: $color-dark-3;
    padding: 75px 0;

    &_blue {
      background: $color-blue-dark;
    }

    & + & {
      margin-top: 0;
    }
  }

  $b: &;

  &__header {

  }

  &__title {
    font-weight: 300;
    font-size: 41px;
    line-height: 1.2;
  }

  &__content {

    &:not(:first-child) {
      margin-top: 38px;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 1.99;

    &_about + .content-zone {
      margin-top: 33px;
    }

    &_width {

      &_1170 {
        max-width: 1170px;
      }
    }
  }
}
