.section {
  display: block;

  &:not(:first-child) {
    margin-top: 100px;
  }

  &_dark + &_dark {
    margin-top: 0;
  }

  $b: &;

  &__header {

  }

  &__title {
    font-weight: 300;
    font-size: 41px;
    line-height: 1.2;
  }

  &__content {

    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 2;

    &_width {

      &_1170 {
        max-width: 1170px;
      }
    }
  }
}
