.section {
  display: block;

  &:not(:first-child) {
    @include rule(margin-top, (xl: 81px, sm: 40px));
  }

  &_dark {
    background: $color-dark-3;

    @include rule(padding, (xl: 75px 0, sm: 40px 0));

    &_blue {
      background: $color-blue-dark;
    }

    & + & {
      margin-top: 0;
    }
  }

  $b: &;

  &__header {

  }

  &__title {
    font-weight: 300;
    line-height: 1.2;

    @include rule(font-size, (xl: 41px, sm: 28px));
  }

  &__content {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 38px, sm: 24px));
    }
  }

  &__description {
    @include rule(font-size, (xl: 20px, sm: 16px));

    line-height: 1.99;

    &_about + .content-zone {
      @include rule(margin-top, (xl: 33px, sm: 30px));
    }

    &_width {

      &_1170 {
        max-width: 1170px;
      }
    }
  }
}
