mixin news(data)
  +b.news&attributes(attributes)
    each item in data
      +e.A.item(href=item.link, target="_blank")
        +e.header
          +e.icon
            +icon('calendar')
          +e.P.date!= item.date
        +e.P.text!= item.text

mixin ui-kit-news()
  +ui-section
    +ui-section-head
      +ui-title Новости
      +ui-path
        p Компонент: components/news/news

    +ui-section-content()
      +news(getData('news'))

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
